.arrow {
  pointer-events: none;

  &.arrow-1 .arrow__path {
    stroke: red;
  }

  &.arrow-2 .arrow__path {
    stroke: blue;
  }

  &.arrow-3 .arrow__path {
    stroke: green;
  }
}

.arrow__path {
  stroke: gray;
  fill: transparent;
  stroke-width: 3px;
}

.arrow__head line {
  display: none;
  stroke: #fff;
  stroke-width: 3px;
}
