body {
  background: rgb(37 37 37);
}

#main-wrapper {
  display: flex;
  justify-content: center;
}

#machine-container {
  width: 420px;
  border: 14px solid #795548;
  padding: 20px;
}

.enigma-logo {
  position: relative;
  float: right;
  top: 5px;
}

.enigma-logo img {
  width: 120px;
}

#enigma-output {
  display: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

#enigma-output-text {
  background: white;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 10px;
  font-family: "Courier New", monospace;
  overflow-x: auto;
  text-overflow: unset;
}

#rotors {
  margin-left: 15px;
  margin-bottom: 20px;
}

.rotor {
  display: inline-block;
  margin-right: 15px;
}

.rotor-window {
  display: inline-block;
  background: #808080;
  color: white;
  border: 2px silver solid;
  padding: 8px;
  width: 11px;
  height: 20px;
  text-align: center;
  box-shadow: inset 0px 18px 6px -12px #191919, inset 0px -18px 6px -12px #191919;
}

.rotor-knob {
  display: inline-block;
  position: relative;
  top: 11px;
}

.rotor-knob-button {
  height: 21px;
}

.lampboard-letter {
  border-radius: 20px;
  padding: 3px;
  width: 30px;
  height: 30px;
  margin: 6px;
  background: black;
  color: white;
  border-color: white;
  border-width: 0px;
  border-image: none;
  border-style: solid;
  color: gray;
}

.lampboard-letter.active {
  color: #FC0;
  text-shadow: #FC0 2px 0px 3px;
}

.lampboard-letter:focus {
  outline: none;
}

#lampboard-row-1 {
  margin-left: 10px;
}

#lampboard-row-2 {
  margin-left: 26px;
}

#lampboard {
  margin-bottom: 20px;
}

.keyboard-button:active {
  top: 3px;
  left: 2px;
  position: relative;
}

.keyboard-button:focus {
  outline: none;
}

.keyboard-button {
  border-radius: 20px;
  padding: 3px;
  width: 32px;
  height: 32px;
  margin: 5px;
  background: black;
  color: white;
  border-color: white;
  border-width: 2px;
  box-shadow: 4px -2px 1px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  border-image: none;
  border-style: solid;
}

.keyboard-row {
  border-top: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

#keyboard-row-1 {
  padding-left: 10px;
}

#keyboard-row-2 {
  padding-left: 26px;
}
